<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757327203172-glddcu1hr67be3v0tpur2137l28t421v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757327203172-glddcu1hr67be3v0tpur2137l28t421v</string>
	<key>API_KEY</key>
	<string>AIzaSyAbeWtxv4SGDrdMxwfdvp_dFoyLwSZglfM</string>
	<key>GCM_SENDER_ID</key>
	<string>757327203172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IvanTuly.Carwash</string>
	<key>PROJECT_ID</key>
	<string>carwashotp</string>
	<key>STORAGE_BUCKET</key>
	<string>carwashotp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757327203172:ios:0a53a6e8827b8588eac871</string>
</dict>
</plist>